<div class="container">
  <form style="background-color: #428bca; padding-top: 20px; margin-top: 20px; padding-bottom: 2px;" action="">
    <div class="form-group">
      <div class="input-group" style="padding-left: 10px; width: 100% !important;">
        <input id="filter" type="text" placeholder="Search">
        <i id="filterIcon" class="fa fa-search"></i>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Correo</th>
        <th>Eliminar</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.name}}</td>
        <td>{{customer.age}}</td>
        <td>{{customer.email}}</td>
        <td>
          <button class="btn btn-danger fa fa-trash-o" (click)="deleteClient(customer.id)">Eliminar</button>
        </td>
        <td>
          <button class="btn btn-primary fa fa-pencil-square-o" (click)="editClient(customer)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="openModalDialog()">Agregar Cliente</button>
</div>

<div class="overlay" [ngStyle]="{'display': display}"></div>
<!-- Modal -->
<div class="modal" [ngStyle]="{'display': display}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ isEditModeEnabled ? 'Edit' : 'Add'}} customer</h5>
        <button (click)="closeModal(myForm)" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #myForm="ngForm">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder = 'Ingrese su nombre' [(ngModel)]="person.name"  name="name" #name>
              </div>
              <div class="form-group">
                  <input type="number" class="form-control" placeholder = 'Ingrese su edad' [(ngModel)]="person.age"  name="age" #age>
              </div>
              <div class="form-group">
                  <input type="email" class="form-control" placeholder = 'Ingrese su correo' [(ngModel)]="person.email"  name="email" #email>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="id" #id hidden [(ngModel)]="person.id">
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal"    (click)="closeModal(myForm)">Close</button>
        <input *ngIf="!isEditModeEnabled" type="button" class="btn btn-primary" (click)="addCustomer(myForm)" value='Agregar Cliente'>
        <input *ngIf="isEditModeEnabled" type="button" class="btn btn-success"  (click)="updateCustomer(myForm)" value='Actualizar'>
      </div>
    </div>
  </div>
</div>